/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jan 6, 2022, 6:41:34 PM
    Author     : jhouv
*/
h5 {
  background-color:  lightgreen;
  padding:  10px;
}
